.HomeFormContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    .HomeFormRow {
        .HomeForm {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            .CustomField {
                position: relative;
                input {
                    border: none;
                    -webkit-appearance: none;
                    -ms-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    outline: none;
                    background-color: whitesmoke;
                    border: 1px solid white;
                }
                .Placeholder {
                    position: absolute;
                    font-weight: bold;
                    color: #aaa;
                    transition:
                        top 0.3s ease,
                        color 0.3s ease,
                        font-size 0.3s ease;
                }
            }
            // .CustomField input:valid + .Placeholder,
            .CustomField input:focus + .Placeholder {
                color: white;
                font-weight: bold;
            }
            .HomeFormBtn {
                background-color: black;
                outline: none;
                border: 1px solid white;
                text-decoration: none;
                color: white;
                cursor: pointer;
                font-weight: bold;
            }
        }
    }
}