.NavbarContainer{
    position: absolute;
    font-weight: bold;
    color: white;
    .NavbarRow{
        .NavbarColCenter{
            ul{
                list-style: none;
                li{
                    text-transform: uppercase;
                }
                .NavbarTitleLi{
                    font-weight: o;
                }
                .NavbarSubtitleLi{
                    font-size: 0.70em;
                    font-weight: bold;
                }
            }
        }
        .Cols{
            ul{
                display: flex;
                align-items: flex-end;
                justify-content: space-evenly;
                list-style: none;
                li{
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: pointer;
                }
                :hover{
                    transition:0.8s linear;
                    border-bottom: 1px solid white;
                }
            }
        }
    }
}