.HeroImageContainer {
    overflow: hidden;
    .HeroCol {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .HeroImageH1 {
            text-transform: uppercase;
            position: absolute;
            color: white;
            .Welcome {
                font-size: .8em;
            }
            .HeroMessage {
                visibility: visible;
                overflow: hidden;
                position: absolute;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                .word{
                    animation: transp 6.9s
                }
                .wordWrapper {
                    position: absolute;
                    background-color: black;
                    //  filter: brightness(65%);
                    animation: openclose 3.5s ease-in-out;
                    animation-delay: 2s;
                }
            }
        }
        .HeroImg {
            object-fit: cover;
            filter: brightness(80%);
        }
    }
}

@keyframes transp {
    0% {
        color: transparent;
    }
    50%{
        color: transparent;
    }
}

@keyframes openclose {
    0% {
        width: 0%;
        left: 0;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}