// X-LARGE DEVICES [XL]
@media all and (min-width: 1200px) {
    .HeroImageContainer {
        height: 100vh;
        .HeroCol {
            padding: 0;
            height: 100vh;
            .GlassEffectContainer {
                width: 100vw;
                .GlassEffect {
                    height: 100vh;
                    width: 38vw;
                }
            }
            .HeroTextContent {
                width: 100vw;
                margin-top: 40vh;
                .H1 {
                    font-size: 5em;
                    padding-left: 16%;
                }
                .Intro {
                    font-size: .8em;
                    width: 35%;
                    padding-left: 16%;
                    padding-top: 5%;
                }
            }
            .HeroImg {
                height: 100vh;
                width: 100vw;
            }
        }
    }
}

// LARGE DEVICES [LG]
@media all and (min-width: 993px) and (max-width: 1199px) {
    .HeroImageContainer {
        height: 100vh;
        .HeroCol {
            padding: 0;
            height: 100vh;
            .GlassEffectContainer {
                width: 100vw;
                .GlassEffect {
                    height: 100vh;
                    width: 38vw;
                }
            }
            .HeroTextContent {
                width: 100vw;
                margin-top: 40vh;
                .H1 {
                    font-size: 5em;
                    padding-left: 7%;
                }
                .Intro {
                    font-size: .8em;
                    width: 35%;
                    padding-left: 7%;
                    padding-top: 5%;
                }
            }
            .HeroImg {
                height: 100vh;
                width: 100vw;
            }
        }
    }
}

// MEDIUM DEVICES [MD]
@media all and (min-width: 769px) and (max-width: 992px) {
    .HeroImageContainer {
        height: 100vh;
        .HeroCol {
            padding: 0;
            height: 100vh;
            .GlassEffectContainer {
                width: 100vw;
                .GlassEffect {
                    height: 100vh;
                    width: 38vw;
                }
            }
            .HeroTextContent {
                width: 100vw;
                margin-top: 40vh;
                .H1 {
                    font-size: 5em;
                    padding-left: 8%;
                }
                .Intro {
                    font-size: .8em;
                    width: 35%;
                    padding-left: 8%;
                    padding-top: 5%;
                }
            }
            .HeroImg {
                height: 100vh;
                width: 100vw;
            }
        }
    }
}

// SMALL DEVICES [SM]
@media all and (min-width: 577px) and (max-width: 768px) {
    .HeroImageContainer {
        height: 100vh;
        .HeroCol {
            padding: 0;
            height: 100vh;
            .GlassEffectContainer {
                display: none;
            }
            .HeroTextContent {
                display: flex;
                justify-content: center;
                width: 100vw;
                margin-top: 35vh;
                .H1 {
                    font-size: 3.8em;
                }
                .Intro {
                    display: none;
                }
            }
            .HeroImg {
                height: 100vh;
                width: 100vw;
            }
        }
    }
}

// XS DEVICES [-]
@media all and (min-width: 415px) and (max-width: 576px){
    .HeroImageContainer {
        height: 100vh;
        .HeroCol {
            padding: 0;
            height: 100vh;
            .GlassEffectContainer {
                display: none;
            }
            .HeroTextContent {
                display: flex;
                justify-content: center;
                width: 100vw;
                margin-top: 40vh;
                .H1 {
                    font-size: 3em;
                }
                .Intro {
                    display: none;
                }
            }
            .HeroImg {
                height: 100vh;
                width: 100vw;
            }
        }
    }
}

// IPHONE 6/7/8 PLUS DEVICES [AN EXCEPTION]
@media all and (max-width: 414px) {
    .HeroImageContainer {
        height: 100vh;
        .HeroCol {
            padding: 0;
            height: 100vh;
            .GlassEffectContainer {
                display: none;
            }
            .HeroTextContent {
                display: flex;
                justify-content: center;
                width: 100vw;
                margin-top: 40vh;
                .H1 {
                    font-size: 3em;
                }
                .Intro {
                    display: none;
                }
            }
            .HeroImg {
                height: 100vh;
                width: 100vw;
            }
        }
    }
}