// X-LARGE DEVICES [XL]
@media all and (min-width: 1200px) {
    .AvailabilityMobileContainer {
        display: none;
    }
}

// LARGE DEVICES [LG]
@media all and (min-width: 993px) and (max-width: 1199px) {
    .AvailabilityMobileContainer {
        display: none;
    }
}

// MEDIUM DEVICES [MD]
@media all and (min-width: 769px) and (max-width: 992px) {
    .AvailabilityMobileContainer {
        display: none;
    }
}

// SMALL DEVICES [SM]
@media all and (min-width: 577px) and (max-width: 768px) {
    .AvailabilityMobileContainer {
        height: 100vh;

        .AvailabilityMobileRow {
            height: 70vh;
            width: 70%;
            border-radius: .7em;

            .AvailabilityMobileForm {
                .AvailabilityMobileTags {
                    padding: 15px 0 0;
                    margin-top: 10px;
                    font-weight: 700;

                    .CustomField {
                        .input {
                            width: 100%;
                            border: 0;
                            border-bottom: 1px solid white;
                            outline: 0;
                            font-size: 1rem;
                            padding: 7px 0;

                            &:placeholder-shown~.Placeholder {
                                font-size: 1rem;
                                top: 20px;
                            }
                        }

                        .input:focus {
                            padding-bottom: 6px;
                            font-weight: 700;
                            border-width: 1px;
                            border-image-slice: 1;

                            ~.Placeholder {
                                top: 0;
                                font-size: 1rem;
                                font-weight: 700;
                            }
                        }

                        .Placeholder {
                            top: 0;
                            font-size: 1rem;
                        }
                    }
                }

                .AvailabilityMobileBtn {
                    padding: .4em;
                    border-radius: .4em;
                    font-size: .9rem;
                    width: 12.5em;
                }
            }
        }
    }
}

// XS DEVICES [-]
@media all and (min-width: 415px) and (max-width: 576px) {
    .AvailabilityMobileContainer {
        height: 100vh;

        .AvailabilityMobileRow {
            height: 80vh;
            width: 80%;
            border-radius: .7em;

            .AvailabilityMobileForm {
                .AvailabilityMobileTags {
                    padding: 15px 0 0;
                    margin-top: 10px;
                    font-weight: 700;

                    .CustomField {
                        .input {
                            width: 100%;
                            border: 0;
                            border-bottom: 1px solid white;
                            outline: 0;
                            font-size: 1rem;
                            padding: 7px 0;

                            &:placeholder-shown~.Placeholder {
                                font-size: 1rem;
                                top: 20px;
                            }
                        }

                        .input:focus {
                            padding-bottom: 6px;
                            font-weight: 700;
                            border-width: 1px;
                            border-image-slice: 1;

                            ~.Placeholder {
                                top: 0;
                                font-size: 1rem;
                                font-weight: 700;
                            }
                        }

                        .Placeholder {
                            top: 0;
                            font-size: 1rem;
                        }
                    }
                }

                .AvailabilityMobileBtn {
                    padding: .4em;
                    border-radius: .4em;
                    font-size: .9rem;
                    width: 12.5em;
                }
            }
        }
    }
}

// IPHONE 6/7/8 PLUS DEVICES [AN EXCEPTION]
@media all and (max-width: 414px) {
    .AvailabilityMobileContainer {
        height: 100vh;

        .AvailabilityMobileRow {
            height: 70vh;
            width: 85%;
            border-radius: .7em;

            .AvailabilityMobileForm {
                .AvailabilityMobileTags {
                    padding: 15px 0 0;
                    margin-top: 10px;
                    font-weight: 700;

                    .CustomField {
                        .input {
                            width: 100%;
                            border: 0;
                            border-bottom: 1px solid white;
                            outline: 0;
                            font-size: 1rem;
                            padding: 7px 0;

                            &:placeholder-shown~.Placeholder {
                                font-size: 1rem;
                                top: 20px;
                            }
                        }

                        .input:focus {
                            padding-bottom: 6px;
                            font-weight: 700;
                            border-width: 1px;
                            border-image-slice: 1;

                            ~.Placeholder {
                                top: 0;
                                font-size: 1rem;
                                font-weight: 700;
                            }
                        }

                        .Placeholder {
                            top: 0;
                            font-size: 1rem;
                        }
                    }
                }

                .AvailabilityMobileBtn {
                    padding: .4em;
                    border-radius: .4em;
                    font-size: .9rem;
                    width: 12.5em;
                }
            }
        }
    }
}