.NavbarContainer{
    position: absolute;
    z-index: 1;
    padding-top: 2vh;
    color: white;
    .NavbarRow{
        display: flex;
        justify-content: center;
        align-items: center;
        .NavbarColCenter{
            ul{
                height: 4em;
                list-style: none;
                padding-left: 0 !important;
                li{
                    text-transform: uppercase;
                }
                .NavbarTitleLi{
                    font-size: 2em;
                }
                .NavbarSubtitleLi{
                    font-size: 0.85em;
                }
            }
        }
        .Cols{
            ul{
                height: 4.8em;
                position: relative;
                display: flex;
                align-items: flex-end;
                justify-content: space-evenly;
                list-style: none;
                li{
                    text-transform: uppercase;
                    cursor: pointer;
                    }
                    :hover{
                        border-bottom: 1.5px solid white;
                    }
                }
            }
        }
    }