// X-LARGE DEVICES [XL]
@media all and (min-width: 1200px) {
    .HeroImageContainer {
        height: 100vh;

        .HeroCol {
            padding: 0;
            height: 100vh;

            .HeroImageH1 {
                font-size: 2.5em;
                height: 20vh;
                width: 35vw;
                margin-top: -25vh;

                .Welcome {
                    font-size: .8em;
                }

                .HeroMessage {
                    font-size: .8em;
                    height: 1.8em;
                    width: 100%;

                    .wordWrapper {
                        width: 0;
                        height: 100%;
                        right: 0;
                    }
                }
            }

            .HeroImg {
                height: 100vh;
                width: 100vw;
            }
        }
    }
}

// LARGE DEVICES [LG]
@media all and (min-width: 993px) and (max-width: 1199px) {
    .HeroImageContainer {
        height: 100vh;

        .HeroCol {
            padding: 0;
            height: 100vh;

            .HeroImageH1 {
                font-size: 2.5em;
                height: 20vh;
                width: 40vw;
                margin-top: -25vh;

                .Welcome {
                    font-size: .8em;
                }

                .HeroMessage {
                    font-size: .8em;
                    height: 1.8em;
                    width: 100%;

                    .wordWrapper {
                        width: 0;
                        height: 100%;
                        right: 0;
                    }
                }
            }

            .HeroImg {
                height: 100vh;
                width: 100vw;
            }
        }
    }
}

// MEDIUM DEVICES [MD]
@media all and (min-width: 769px) and (max-width: 992px) {
    .HeroImageContainer {
        height: 100vh;

        .HeroCol {
            padding: 0;
            height: 100vh;

            .HeroImageH1 {
                font-size: 2.5em;
                height: 20vh;
                width: 50vw;
                margin-top: -25vh;

                .Welcome {
                    font-size: .8em;
                }

                .HeroMessage {
                    font-size: .8em;
                    height: 1.8em;
                    width: 100%;

                    .wordWrapper {
                        width: 0;
                        height: 100%;
                        right: 0;
                    }
                }
            }

            .HeroImg {
                height: 100vh;
                width: 100vw;
            }
        }
    }
}

// SMALL DEVICES [SM]
@media all and (min-width: 577px) and (max-width: 768px) {
    .HeroImageContainer {
        height: 100vh;

        .HeroCol {
            padding: 0;
            height: 100vh;

            .HeroImageH1 {
                font-size: 2.5em;
                height: 20vh;
                width: 80vw;
                margin-top: -20vh;

                .Welcome {
                    font-size: .8em;
                }

                .HeroMessage {
                    font-size: .8em;
                    height: 1.8em;
                    width: 100%;

                    .wordWrapper {
                        width: 0;
                        height: 100%;
                        right: 0;
                    }
                }
            }

            .HeroImg {
                height: 100vh;
                width: 100vw;
            }
        }
    }
}

// XS DEVICES [-]
@media all and (min-width: 415px) and (max-width: 576px) {
    .HeroImageContainer {
        height: 100vh;

        .HeroCol {
            padding: 0;
            height: 100vh;

            .HeroImageH1 {
                font-size: 2em;
                height: 20vh;
                width: 90vw;
                margin-top: -10vh;

                .Welcome {
                    font-size: .7em;
                }

                .HeroMessage {
                    font-size: .8em;
                    height: 1.8em;
                    width: 100%;

                    .wordWrapper {
                        width: 0;
                        height: 100%;
                        right: 0;
                    }
                }
            }

            .HeroImg {
                height: 100vh;
                width: 100vw;
            }
        }
    }
}

// IPHONE 6/7/8 PLUS DEVICES [AN EXCEPTION]
@media all and (max-width: 414px) {
    .HeroImageContainer {
        height: 100vh;

        .HeroCol {
            padding: 0;
            height: 100vh;

            .HeroImageH1 {
                font-size: 2em;
                height: 25vh;
                width: 90vw;
                margin-top: -10vh;

                .Welcome {
                    font-size: .7em;
                }

                .HeroMessage {
                    font-size: .8em;
                    height: 1.8em;
                    width: 100%;

                    .wordWrapper {
                        width: 0;
                        height: 100%;
                        right: 0;
                    }
                }
            }

            .HeroImg {
                height: 100vh;
                width: 100vw;
            }
        }
    }
}